build/
.idea/
*.iml
*.iws
*.apk
*.ap_
*.class
.gradle/
local.properties

baselibrary/build
baselibrary/.idea/
baselibrary/.gradle
baselibrary/*.iml
baselibrary/*.iws
baselibrary/*.apk
baselibrary/*.ap_
baselibrary/*.class
baselibrary/local.properties
